@using Entities;
@using WorkoProject.Models;

@model ShiftsConstrains

@{
    ViewBag.Title = "הגשת אילוצי משמרות";
    Layout = "~/Views/Shared/_ControlLayout.cshtml";
    
    var shifts = new WorkScheduleTemplate().Shifts;
}

<h2>הגשת אילוצי משמרות</h2>
<div class="row" id="shifts-constrains">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>
                    * ניתן לבחור עד 2 אופציות בהן לא תשובץ.
                </span>
                <span class="wrong hide">
                    בטל אופציה אחת על מנת שתוכל לבחור באחרת
                </span>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("ConstrainsSubmission", "ShiftsManager", FormMethod.Post))
                { 
                    @Html.HiddenFor(x => x.WSID)
                    @Html.HiddenFor(x => x.WorkerId)
                    
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="shift-name">משמרת</th>
                                    <th>ראשון</th>
                                    <th>שני</th>
                                    <th>שלישי</th>
                                    <th>רביעי</th>
                                    <th>חמישי</th>
                                    <th>שישי</th>
                                    <th>שבת</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-shift="1">
                                    <td class="shift-name">בוקר</td>
                                    @for (int i = 0; i < 7; i++)
                                    {
                                        <td class="shift @(shifts[i].IsActive ? "clickable" : string.Empty)" data-day="@i">  
                                            @Html.HiddenFor(m => m.Constrains[i], new { @class = "ischecked"}) 
                                            <i class="fa @(Model.Constrains[i] ? "fa-times" : string.Empty)"></i>
                                        </td>
                                    }
                                </tr>
                                <tr data-shift="2">
                                    <td class="shift-name">צהרים</td>
                                    @for (int i = 7; i < 14; i++)
                                    {
                                        <td class="shift @(shifts[i].IsActive ? "clickable" : string.Empty)" data-day="@i">
                                            @Html.HiddenFor(m => m.Constrains[i], new { @class = "ischecked" }) 
                                            <i class="fa @(Model.Constrains[i] ? "fa-times" : string.Empty)"></i>
                                        </td>
                                    }
                                </tr>
                                <tr data-shift="3">
                                    <td class="shift-name">לילה</td>
                                    @for (int i = 14; i < 21; i++)
                                    {
                                        <td class="shift @(shifts[i].IsActive ? "clickable" : string.Empty)" data-day="@i">
                                            @Html.HiddenFor(m => m.Constrains[i], new { @class = "ischecked" })
                                            <i class="fa @(Model.Constrains[i] ? "fa-times" : string.Empty)"></i>
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                    <button type="submit" class="btn btn-primary pull-right">שלח אילוצים</button>
                    if (TempData["Success"] != null && (bool)TempData["Success"])
                    {
                        <label class="success pull-right">האילוצים עודכנו במערכת בהצלחה</label>
                    }
                    
                }
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>