@{
    string action = ((string)ViewContext.RouteData.Values["action"]).ToLower();
    string controller = ((string)ViewContext.RouteData.Values["controller"]).ToLower();
    bool isAdmin = WorkoProject.Utils.SessionManager.HasAdminConnected;
}

<div id="sidemenu" class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="@(controller == "shiftsmanager" ? "active" : string.Empty)">
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>סידור עבודה<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    @if (!isAdmin)
                    { 
                        <li>
                            <a href="@Url.Action("ConstrainsSubmission", "ShiftsManager")" class="@(action == "constrainssubmission" ? "active" : string.Empty)">הגשת אילוצי משמרות</a>
                        </li>
                    }
                    else
                    { 
                        <li>
                            <a href="morris.html">הזנת אילוצי סידור עבודה</a>
                        </li>
                        <li>
                            <a href="morris.html">הפק סידור עבודה</a>
                        </li>
                    }
                    <li>
                        <a href="#">הצג סידור עבודה <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">שבועי</a>
                            </li>
                            @if(!isAdmin)
                            { 
                                <li>
                                    <a href="#">אישי</a>
                                </li>
                            }
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            @if(isAdmin)
            { 
                <li class="@(controller == "account" ? "active" : string.Empty)">
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> עובדים<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="@(action == "workerslist" ? "active" : string.Empty)" href="@Url.Action("WorkersList","Account")">רשימת עובדים</a>
                        </li>
                        <li>
                            <a class="@(action == "register" ? "active" : string.Empty)" href="@Url.Action("Register","Account")">רישום עובד חדש</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            
                <li class="@(controller == "stations" ? "active" : string.Empty)">
                    <a class="@(controller == "stations" && action == "index" ? "active" : string.Empty)" href="@Url.Action("Index","Stations")"><i class="fa fa-sitemap fa-fw"></i>  עמדות</a>
                </li>
            }
            <li class="@(controller == "requests" ? "active" : string.Empty)">
                <a href="#"><i class="fa fa-files-o fa-fw"></i> בקשות<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    @if(isAdmin)
                    { 
                        <li>
                            <a href="blank.html">בקשות עובדים</a>
                        </li>
                    }
                    else
                    { 
                        <li>
                            <a class="@(action == "sendrequest" ? "active" : string.Empty)" href="@Url.Action("SendRequest", "Requests")">שלח בקשת עובד</a>
                        </li>
                    }
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li class="@(controller == "messages" ? "active" : string.Empty)">
                <a href="#"><i class="fa fa-files-o fa-fw"></i> הודעות<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="blank.html">הודעות מערכת</a>
                    </li>
                    <li>
                        <a href="login.html">הודעות אישיות</a>
                    </li>
                    <li>
                        <a href="login.html">הודעות כלליות</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
