@using System.Web.Mvc;

@model WorkoProject.Models.Station

<div id="add-station-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">הוספת עמדה</h4>
            </div>
            @using (Ajax.BeginForm("AddStation", "Stations", new { }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "addStationSuccess" }, new { id = "add-station-form" }))
            {
                <div class="modal-body">

                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Name)  
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="הוסף"/>
                    <button type="button" class="btn btn-info" data-dismiss="modal">סגור</button>
                    <span class="message"></span>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
